* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#block {
    width: 80%;
    margin: 20px auto;
}

#head {
    display: flex;
    justify-content: space-between;
}

#myInfo {
    width: 40%;
}

header {
    display: flex;
    justify-content: space-between;
}

img {
    width: 190px;
    height: 200px;
}

.info {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
#contacts{
    width:40%;
}
.contact {
    display: flex;
    justify-content: space-between;
}
footer{
    text-align: center;
}

section {
    display: flex;
}

.obj {
    width: 40%;
}

.Dborder {
    padding: 10px;
    border-left: 1px solid rgb(85, 85, 85);
}

h2 {
    color: gray;
}